*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

html,
button,
input,
select,
textarea {
  font-family: "futura-pt", sans-serif;
  color: #fff;
}
body {
  margin: 0;
  font-size: 15px;
  line-height: 1.33;
  color: #3e3e3e;
  background-color: #fed844;
  font-family: "futura-pt", sans-serif;
}
.Site {
  margin: 0;
  font-size: 15px;
  line-height: 1.33;
  color: #3e3e3e;
  background-color: #fed844;
  font-family: "futura-pt", sans-serif;
}
/*
 * Links
 */
body a:link,
a {
  color: #b70b10;
  text-decoration: none;
}
a:visited {
  color: #b70b10;
}
a:hover {
  text-decoration: underline;
  color: #b70b10;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

/*
 * Typography
 */

form,
ul,
ol,
dl,
blockquote,
p {
  margin: 0 0 1.4em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b, strong {
  font-weight: bold;
}
blockquote {
  padding-left: 1em;
  font-style: italic;
}

small {
  font-size: 85%;
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* =Headings= */
body h1,
body h2,
body h3 {
  text-transform: uppercase;
  margin-top: 0;
  color: #3e3e3e;
  font-weight: 800;
}
body h1 span,
body h2 span,
body h3 span {
  display: block;
  font-weight: 400;
}
h1 > em, h2 > em, h3 > em {
  font-weight: normal;
  text-transform: none;
  font-style: normal;
  display: block;
  font-size: 24px;
  line-height: 1.2;
}
h1 {
  font-size: 28px;
}
.container.cf h1 {
	font-size: 48px;
	margin-bottom: 32px;
}
body h2 {
  font-size: 25px;
}
h1 > em {
  margin-bottom: 4px;
}
.box-title,
body h3 {
  font-size: 15px;
}

/*
 * Lists
 */
ul, ol {
  padding: 0;
  list-style-position: inside;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin: 0;
  padding: 0;
}
ol ol {
  list-style-type: upper-roman;
}
ol ol ol {
  list-style-type: lower-latin;
}
dd {
  margin: 0 0 0 40px;
}
.nav {
  margin-left: 0;
}
form li, .nav li {
  list-style: none outside;
  margin: 0;
  padding: 0;
  text-align:left;
}
.item-list ul {
  margin: 0;
  padding: 0;
}
.item-list ul li {
  margin:  0;
  padding: 0;
}
ul li.leaf {
  list-style-image: none;
  list-style-type: none;
}
ul.menu li {
  margin: 0;
}
li.expanded,
li.collapsed,
li.leaf {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
label {
  cursor: pointer;
  display: inline-block;
  min-width: 25%;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  font-weight: bold;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  padding: 5px 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="text"],
input[type="password"],
select,
textarea {
  min-width: 300px;
  color: #333;
}
button, input {
  line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  border: 0;
  background-color: rgb(255, 90, 0);
  font-weight: bolder
}
.form-item .description {
  margin: 5px 0 0 0;
}
button[disabled], input[disabled] {
  cursor: default;
}
input[type="checkbox"], input[type="radio"] {
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/*
 * Tables
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  font-weight: bold;
  border-bottom-width: 2px;
}
caption {
  font-weight: bold;
  margin: 0 0 0.75em;
}


/*
 * Layout
 */
.region-footer > .block > .content,
.region-menus-bottom > .block > .content,
.container {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 45px;
}
.region-menus-bottom > .block:first-child > .content:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
#sub-content {
  position: relative;
  float: left;
  padding-top: 22px;
  z-index: 99;
}
#content {
  position: relative;
  float: left;
  width: 570px;
  margin-right: 200px;
  padding-top: 22px;
  z-index: 99;
}
#sidebar {
  position: relative;
  float: left;
  width: 170px;
  margin: 30px 0 0 -170px;
  z-index: 9;
}
#main {
	padding-bottom: 30px;
  padding-top: 10px;
}
.front #main {
  padding-top: 0;
	padding-bottom: 0;
}
#page {
	position: relative;
}

/* =Header= */
#header {
  position: relative;
}
#header-overlay-central {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
#header > .no-slideshow {
  min-height: 0px !important;
}
#header-overlay-central > img {
  display: block;
  margin: 0 auto;
}
#header-overlay-left {
  width: 360px;
  height: 342px;
  text-align: right;
  position: absolute;
  bottom: 0;
  left: -360px;
  z-index: 2;
}
#header-overlay-left > img {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}
#header-overlay-right {
  width: 360px;
  height: 342px;
  text-align: left;
  position: absolute;
  bottom: 0;
  right: -360px;
  z-index: 2;
}
#header-overlay-right > img {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}
a#logo {
  margin-top: 30px;
	display: inline-block;
	cursor: pointer;
	z-index: 201;
	max-width: 195px;
  float: left;
}
.top-header-items {
  float: right;
  margin-top: 15px;
}
.phone-wrap,
.contact-info {
  display: inline-block;
  float: left;
}
/*.phone-wrap .phslide {
	margin-left: 30px;
}*/
/*.phone-wrap .phslide .fa-phone {
	left: -30px;
}*/
.contact-info ul {
  margin-bottom: 0;
}
.contact-info ul:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.phone-wrap {
  font-size: 14px;
  font-weight: 800;
  color: #383838;
}
.contact-info ul li {
  float: left;
  font-size: 14px;
  font-weight: 800;
  margin-right: 20px;
  position: relative;
}
.phone-wrap,
.contact-info ul li a {
  height: 26px;
  line-height: 26px;
  color: #383838;
  position: relative;
  padding-left: 32px;
}
.contact-info ul li a:hover {
  text-decoration: none;
}
.phone-wrap i,
.contact-info ul li:nth-child(2) a:before,
.contact-info ul li:first-child a:before {
  background: #b70b10 url('../img/sprite.png') no-repeat scroll 4px -287px;
  background-size: 25px auto;
}
.contact-info ul li:nth-child(2) a:before {
  background-position: 5px -316px;
}
.contact-info ul li a:before {
  display: inline-block;
  content: "";
}
.phone-wrap i,
.contact-info ul li a:before {
  position: absolute;
  left: 0;
  top: -3px;
  width: 23px;
  height: 23px;
  margin-right: 6px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  background-color: #b70b10;
}
.phone-wrap i {
  background-position: 5px -345px;
  top: 0px;
}
.region-header:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.more-link-slider a,
.try-game,
.more-link,
.slider-controls-sl i.fa-chevron-right,
.slider-controls i.fa-chevron-right,
#access .menu > li.last a,
#access .menu > li:nth-last-of-type(2) a,
.phone-wrap i,
.contact-info ul li a:before {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -o-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; 
  -webkit-transition: -webkit-transform 0.15s ease-out 0s;
  -moz-transition: -moz-transform 0.15s ease-out 0s;
  -o-transition: -o-transform 0.15s ease-out 0s;
  transition: transform 0.1s ease-out 0s;
}
.phone-wrap i,
.contact-info ul li a:before {
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -o-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
}
.slider-controls i.fa-chevron-left,
.slider-controls-sl i.fa-chevron-left {
  -webkit-transform: rotate(180deg) scale(1);
  -moz-transform: rotate(180deg) scale(1);
  -o-transform: rotate(180deg) scale(1);
  -ms-transform: rotate(180deg) scale(1);
  transform: rotate(180deg) scale(1);
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -o-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center; 
  -webkit-transition: -webkit-transform 0.15s ease-out 0s;
  -moz-transition: -moz-transform 0.15s ease-out 0s;
  -o-transition: -o-transform 0.15s ease-out 0s;
  transition: transform 0.15s ease-out 0s;
}
.slider-controls i.fa-chevron-left:hover,
.slider-controls-sl i.fa-chevron-left:hover {
  -webkit-transform: rotate(180deg) scale(1.1);
  -moz-transform: rotate(180deg) scale(1.1);
  -o-transform: rotate(180deg) scale(1.1);
  -ms-transform: rotate(180deg) scale(1.1);
  transform: rotate(180deg) scale(1.1);
}
.more-link-slider a:hover,
#access .menu > li.last a:hover,
#access .menu > li:nth-last-of-type(2) a:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.try-game:hover,
.more-link:hover,
.slider-controls-sl i.fa-chevron-right:hover,
.slider-controls i.fa-chevron-right:hover,
.phone-wrap:hover i,
.contact-info ul li a:hover:before {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

@media screen and (min-width: 737px) {
  #access {
    position: relative;
    z-index: 200;
    text-transform: uppercase;
    min-height: 1%;
  }
  #access .menu {
    margin: 0;
    padding-top: 24px;
    width: 100%;
    height: 76px;
    position: relative;
  }
  #access .menu li {
    margin-left: 0;
    float: left;
    margin-right: 28px;
    vertical-align: middle;
  } 
  #access .menu li a {
    text-transform: capitalize;
    display: inline-block;
  }
  #access .menu > li > a {
    text-decoration: none;
    font-size: 19px;
    text-align: center;
    font-weight: 500;
    color: #666;
  }
  #access .menu > li.active > a {
    position: relative;
    z-index: 999;
  }
  #access .menu li a.active {
    color: #b70b10;
  }
  #access .menu > li:nth-of-type(2) > a,
  #access .menu > li:first-child > a {
    padding-left: 35px;
    position: relative;
  }
  #access .menu > li:nth-of-type(2) > a:before,
  #access .menu > li:first-child > a:before {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: transparent url('../img/sprite.png') no-repeat scroll 0px -718px;
    background-size: 25px auto;
    width: 35px;
    height: 21px;
  }
  .front #access .menu > li:first-child > a:before,
  #access .menu > li:first-child:hover > a:before {
    background-position: 0 -385px;
  }
  #access .menu > li:nth-of-type(2) > a:before {
    background-position: 0 -432px;
  }
  #access .menu > li:nth-of-type(2)> a.active:before,
  #access .menu > li:nth-of-type(2):hover > a:before {
    background-position: 0 -764px;
  }
  #access .menu > li:nth-last-of-type(2) {
    margin-right: 0;
    position: absolute;
    right: 195px;
    top: 22px;
  }
  #access .menu > li:nth-last-of-type(2) a {
    padding: 3px 30px;
    font-size: 15px;
    font-weight: 800;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    border: 2px solid #b70b10;
    color: #3e3e3e;
    text-transform: uppercase;
  }
  #access .menu > li:nth-last-of-type(2) a:hover {
    border-color: #ff7200;
    background-color: #ff7200;
    color: #fff;
  }
  #access .menu > li:nth-last-of-type(2),
  #access .menu > li.last {
    text-align: right;
  }
  #access .menu > li.last {
    position: absolute;
    width: 195px;
    margin-right: 0;
    right: 0;
    top: 16px;
  }
  #access .menu > li.last a {
    padding: 10px 0;
    min-width: 180px;
    font-weight: 800;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
    background-color: #b70b10;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
  }
  #access .menu > li.last a:hover {
   background-color: #ff7200;
  }
  #access .menu > li > a:hover,
  #access .menu > li > a:active,
  #access .menu > li > a:focus,
  #access .menu > li.active > a {
    color: #b70b10;
  }
  #access .menu > li.last > a:hover,
  #access .menu > li.last > a:active,
  #access .menu > li.last > a:focus,
  #access .menu > li.last.active > a {
    color: #fff;
  }
  #access .menu > li.active {
    position: relative;
   }
  #access .menu > li.active a {
    color: #b70b10;
  }
}

.language-block {
  display: inline-block;
  float: left;
  margin-left: 50px;
}
#nav-lang {
  list-style-type: none;
  overflow: hidden;
}
#nav-lang li {
  float: left;
  margin-left: 6px;
  opacity: 0.5
}
#nav-lang li.active {
  opacity: 1
}
#nav-lang a {
  display: inline-block;
  width: 24px;
  height: 24px;
  text-decoration: none;
  text-indent: -9999px;
  background: transparent url('../img/sprite.png') no-repeat scroll 0px 0px;
  background-size: 25px auto;
}
#nav-lang .fr a {
  background-position: 0px -189px;
}
#nav-lang .es a {
  background-position: 0px -29px;
}
#nav-lang .de a {
  background-position: 0px -59px;
}
#nav-lang .sv a {
  background-position: 0px -91px;
}
#nav-lang .no a {
  background-position: 0px -125px;
}
#nav-lang .fi a {
  background-position: 0px -157px;
}
#nav-lang .it a {
  background-position: 0px -220px;
}
#nav-lang .br a {
  background-position: 0px -249px;
}
#nav-lang .br, 
#nav-lang .it {
  display: none;
}

/*
 * Slider
 */
.view-top-slider {
  position: relative;
  margin-bottom: 30px;
  height: 300px;
}
.slider-controls-sl i,
.slider-controls i {
  position: absolute;
  top: 50%;
  left: 0;
  right: auto;
  margin: -30px 0 0 -30px;
  z-index: 104;
  height: 24px;
  cursor: pointer;
}
.slider-controls-sl i {
  width: 60px;
  height: 60px;
  border: 5px solid #fed844;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.slider-controls i {
  width: 15px;
  background: transparent url('../img/sprite.png') no-repeat scroll 0px -582px;
  background-size: 25px auto;
  margin-top: -33px;
}
.slider-controls i:hover {
  background-position: 0px -624px;  
}
#page-wrapper .slider-controls-sl i:hover {
  background-color: #ff7200;
}
.slider-controls-sl i.fa-chevron-right,
.slider-controls i.fa-chevron-right {
  margin-left: 0;
  margin-right: -30px;
  left: auto;
  right: 0;
}
.slider-controls i.fa-chevron-right:hover {
  background-position: 0px -623px
}
.slider-controls-sl i.fa-chevron-right,
.slider-controls-sl i.fa-chevron-left {
  background: #b70b10 url('../img/sprite.png') no-repeat scroll 17px -467px;
  background-size: 25px auto;
}
.pager-cy-sl,
.pager-cy {
  display: inline-block;
  position: absolute;
  bottom: 15px;
  left: 50%;
  z-index: 104;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.pager-cy {
  display: none;
}
.pager-cy-sl span,
.pager-cy span {
  display: inline-block;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: rgba(240, 241, 240, 0.55);
  margin: 0 4px;
  text-indent: -9999px;
}
.pager-cy-sl span.cycle-pager-active,
.pager-cy span.cycle-pager-active {
  background-color: #b70b10;
}
/*.pager-cy-sl span.cycle-pager-active:hover,
.pager-cy span.cycle-pager-active:hover {
  background-color: #ff7200;
}*/
.fa-1-5 {
  font-size: 1.7em;
}

.view-top-slider li {
  list-style: none;
}
.no-js .view-top-slider li:not(:first-child) {
   display: none !important;
}
.view-top-slider h2,
.view-top-slider .sub-title {
  position: absolute;
  top: 25px;
  left: 30px;
  text-transform: uppercase;
  font-weight: 800;
}
#page-wrapper .view-top-slider h2 {
  font-size: 37px;
  color: #fff;
  top: 50px;
}
.view-top-slider .sub-title {
  font-size: 19px;
  color: #fed844;
}

.more-link-slider a {
  position: relative;
  color: #fff !important;
  overflow: hidden;
  background-color: #b70b10;
  color: #fff;
  padding: 0 90px 0 30px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 45px;
  bottom: 30px;
  font-size: 19px;
  font-weight: 800;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
}
.more-link-slider a:link {
  color: #fff !important;
}
.more-link-slider a:hover {
  text-decoration: none;
  background-color: #ff7200;
}
.more-link-slider a:after {
  display: inline-block;
  content: "";
  position: absolute;
  height: 44px;
  left: auto;
  right: 0;
  top: 0;
  width: 60px; 
  background: #a40a0e url('../img/sprite.png') no-repeat scroll 17px -525px;
  background-size: 25px auto;
}
.more-link-slider a:hover:after {
  background-color: #e56600;
}
.extra-link-wrapper a {
	bottom: 0;
  height: 25px;
  position: absolute;
  right: 45px;
  text-indent: -9999px;
  width: 245px;
}
/*
 * Jackpot
 */
 .jackpot {
   position: relative;
   margin-bottom: 30px;
 }
 .jackpot-right {
   position: absolute;
   right: 25px;
   top: 50%;
   -webkit-transform: translateY(-50%);
   -moz-transform: translateY(-50%);
   -o-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
 }
 .jackpot .amount {
    color: #ffffff;
    float: left;
    font-size: 25px;
    margin-right: 5px;
    min-width: 180px;
    position: relative;
 }
 .jackpot .currency {
   position: absolute;
   right: 0;
   color: #fff;
   display: inline-block;
   font-size: 23px;
   margin:  0 15px 0 4px;
   
 }
 .i18n-no .amount {
   min-width: 200px;
 }
 .i18n-sv .amount {
    min-width: 190px;
 }
  .i18n-sv .currency {
   right: -15px;
 }
 .i18n-no .currency {
   right: -16px;
 }
 .jackpot .more-link {
   height: 28px;
   line-height: 28px;
   font-size: 13px;
   padding: 0px 8px;
   margin-top: 2px;
   float: right;
   color: #fff;
 }
 
/* =Main= */
#main > .container {
  position: relative;
  z-index: 2;
  min-height: 500px;
}
.front #main > .container {
  padding-bottom: 0;
}
/* =Games filter= */
#games-filter {
  margin: 0;
  position: relative;
}
#games-filter .nav-horizontal {
  overflow: hidden;
  margin-bottom: 30px;
}
#games-filter > .nav > li {
  position: relative;
  margin-right: 15px;
  float: left;
}
#games-filter > .nav a {
  position: relative;
  background-color: #dfb831;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  overflow: hidden;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  height: 28px;
  line-height: 28px;
  padding-left: 15px;
  padding-right: 15px;
  width: auto;
  white-space: nowrap;
  color: #3e3e3e;
}
#games-filter > .nav a:hover {
	text-decoration: none !important;
}
#games-filter > .nav > .all-games > a {
  padding-left: 40px;
  width: 90px;
}
#games-filter ul.nav li:hover a {
  color: #b70b10;
}
#games-filter ul.nav li a.active {
	background-color: #b70b10;
  color: #fff;
}


/* =Boxes= */
.box {
  display: inline-block;
  -webkit-box-shadow: 0 6px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 6px rgba(0, 0, 0, 0.07);
  box-shadow: 0 6px rgba(0, 0, 0, 0.07);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
  min-height: 210px;
  min-width: 210px;
}
#games .box {
  overflow: visible;
  margin: 0 0 30px 0;
 }
 .box-image {
  position: relative;
  height: 110px;
  overflow: hidden;
  background-color: #fff;
  -webkit-border-radius: 14px 14px 0px 0px;
  -moz-border-radius: 14px 14px 0px 0px;
  border-radius: 14px 14px 0px 0px;
  overflow: hidden;
 }
.box-image img {
  width: 100%;
}
.box-bottom {
  background-color: #fff;
  padding: 9px 14px;
  -webkit-border-radius: 0px 0px 14px 14px;
  -moz-border-radius: 0px 0px 14px 14px;
  border-radius: 0px 0px 14px 14px;
  overflow: hidden;
  min-height: 100px;
 }
 .front-bottom-boxes,
 .front-bottom-boxes .unit {
   margin-bottom: 0;
 }
.popular-list-wrap {
  position: relative;
}
#games ul#popularList,
#games ul#gameList {
	list-style-type: none;
	padding: 0px;
}
#games ul#popularList:after,
#games ul#gameList:after {
	clear: both;
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
}
#games ul#gameList,
.frame-inner {
  margin: 0px -15px;
}
.frame {
  display: block;
  width: 100%;
}
#games #popularList li,
#games #gameList li {
	float: left;
	margin: 0;
	padding: 0px 15px;
  width: 25%;
  float: left;
  list-style: none;
}
#games #gameList li {
  margin-bottom: 0;
}
#games #popularList li .box,
#games #gameList li .box {
  height: 200px;
  width: 210px;
}
#games .box-title {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 0;
  line-height: 1.1;
}
#games .game-category {
  display: block;
  position: absolute;
  bottom: 6px;
  right: 6px;
  text-transform: uppercase;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
   -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 20px;
  line-height: 20px;
  padding: 0 5px;
}
.try-game,
.more-link {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 8px;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  text-decoration: none !important;
  font-weight: 800;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
}
.more-link {
  background-color: #b70b10;
  color: #fff !important;
}
.more-link:hover {
  background-color: #ff7200;
}
#games .more-link {
  bottom: 13px;
/*  right: 14px;*/
  left: 14px;
  right: auto;
  font-size: 13px;
  color: #fff !important;
}
#games .more-link:hover {
  border-color: #ff7200;
  color: #ff7200;
}
a.more-link:link {
  color: #fff !important;
}
#games .try-game {
  border: 4px solid #ff7200;
  color: #3e3e3e;
  margin-right: 14px;
  line-height: 22px;
  position: absolute;
  left: 14px;
  bottom: 13px;
  font-size: 13px;
  display: none;
}
#games .try-game:hover {
  border-color: #ff7200;
  background-color: #ff7200;
  color: #fff; 
}
#games .more-link:hover {
  text-decoration: none !important;
}
#popover {
	display: none;
}
.popover {
  opacity: 0;
  position: absolute;
  left: -157px;
  bottom: 180px;
  width: 445px;
  padding: 0 20px 15px;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.95);
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  z-index: 9999;
  height: 302px;
}
.popover:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -16px;
  left: 226.5px;
  width: 0;
  border-width: 16px 16px 0;
  border-style: solid;
  border-color: #ffffff transparent;
  border-color: rgba(255, 255, 255, 0.95) transparent;
}
.popover p {
  margin-bottom: 1em;
}
.popover blockquote {
  color: #bf0b02;
  font-size: 14px;
  font-style: normal;
  padding: 0;
  margin: 0;
}
.popover blockquote > p {
  margin-bottom: 0;
}
.popover blockquote > cite {
  color: #434242;
  font-size: 14px;
  font-style: normal;
}
.popover blockquote > cite:before {
  content: '- ';
}
.popover-title {
  font-size: 24px;
  padding: 13px 0 10px;
  margin: 0;
}
.popover-carousel {
  background: #000000;
  margin: 0 -20px;
  margin-bottom: 1em;
}
.popover .item-list .pager,
.popover .item-list .first,
.popover .item-list .last {
	list-style-position:inside;
}
.popover .item-list,
.popover .imageScroller {
	width: 500px;
}
.popover .bx-wrapper {
	width:500px;
	overflow:hidden;
	height:130px;
}
.popover ul li {
	clear:none !important;
}
.popover-carousel {
	position:relative;
	width:485px;
	height:122px;
	overflow:hidden;
}
.popover-carousel ul {
	visibility:hidden;
}
.popover-carousel ul li{
  float: left;
  margin: 0;
}
.no-js .box:hover .popover {
  opacity: 1;
  filter: alpha(opacity=100);
  bottom: 65px;
}

/* = Front boxes = */
#winners {
  max-width: 210px;
	background-color: #b70b10;
	color: #fff;
  font-weight: 800;
	margin-bottom: 30px;
}
#winners h3.box-title {
	margin: 8px 0;
  padding: 0 18px;
	color:#fff;
	text-transform: uppercase;
	font-size: 25px;
	font-weight: 800;
}
#winners .box-title em {
	font-size: 18px;
  text-transform: uppercase;
  color: #f4a9ac;
  font-weight: 800;
}
#winners .box-title > .after,
#winners .box-title:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#winners-list {
  list-style: none outside;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
#winners-list > li {
  line-height: 1.2;
	height: 76px;
	overflow: hidden;
	position: relative;
}
#winners-list > li:nth-child(odd) {
  background: #a90e13;
}
#winners-list li div {
	width: 100%;
	height: 100%;
  padding: 7px 18px;
	position: absolute;
	left: 0;
	top: 0;
	display:none;
}
#winners-list span {
  display: block;
}
#winners-list .how-much {
  font-size: 19px;
}
#winners-list .when {
  font-size: 10px; 
  color: #f4a9ac;
}
#main .box.pl-now,
#main .box.help {
  text-align: center;
}
.box p {
  margin-bottom: 0;
  display: inline;
}
.box .more-link {
  position: absolute;
  bottom: 14px;
  right: 14px;
  color: #fff;
}

#main .box.help h3 {
  position: absolute;
  top: 37px;
  left: 0;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  width: 100%;
}
#main .box.help h3 span {
  display: block;
  font-size: 13px;
}
#main .box.pl-now h3 {
  font-size: 24px;
  font-weight: 800;
  text-align: center;
}
#main .box.pl-now img,
#main .box.help img {
  max-width: none;
}
.play-now-wrap {
  position: absolute;
  top: 37px;
  left: 0;
  width: 100%;
}
.road-wrap {
  position: absolute;
  top: 30px;
  left: 30px; 
}
#main .on-road h2 {
  font-size: 37px;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 10px;
}
#main .on-road h2 span {
  display: block;
  font-weight: 400;
}
.road-text {
  max-width: 60%;
  font-size: 15px;
}


/* =Footer= */
#footer {
  clear: both;
  position: relative;
  text-align:left;
  z-index: 2;
}
#footer > .container {
  overflow: hidden;
  padding-top: 30px;
}
#footer > .container.container-bot {
  padding-top: 0;
}
#footer .footer-right-col {
  float: right;
}
#footer .hilite {
  color: #b70b10;
}
#footer .hilite a {
  color: #b70b10;
}
#footer .menu-bottom-wrapper .container {
	padding: 0 13px 0 20px;
}
#footer .menu-bottom-wrapper ul {
	margin-bottom: 0;
}
#footer .region-footer .block-block {
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.07);
}
#footer .region-footer .block-block:first-child {
  padding-top: 40px;
}
#footer .region-footer #block-block-51,
#footer .region-footer #block-block-60 {
  padding: 0;
}

#footer h1 {
  font-size: 30px;
  white-space: nowrap;
  clear: both;
  margin-bottom: 0.5em;
}
#footer hr {
  display: none;
}
#footer .menu {
  display: table;
  width: 100%;
  text-transform: uppercase;
  position: relative;
  padding: 30px 0 30px;
  overflow: hidden;
}
#footer .menu > li {
  font-size: 14px;
  font-weight: 500;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  list-style-type: none;
  list-style-image: none;
}

#footer .menu a,
#footer .menu a:visited {
  text-decoration: none;
  color: #3e3e3e;
}
#footer a {
  color: #3e3e3e;
}
#footer a:hover,
#footer .menu a:hover {
  color: #b70b10;
}
#footer .menu > .active > a,
#footer .menu a:focus,
#footer .menu a:active {
  color: #3e3e3e;
}
#payment-icons {
  clear: both;
  text-align: center;
  padding: 20px 0;
  position: relative;
  background-color: #fff;
}
#payment-icons .container {
  position: relative;
}
#colophon {
  padding-top: 30px;
  text-align: center;
  background-color: #b70b10;
  font-size: 13px;
  position: relative;
  color: #fff;
  z-index: 2;
}
#colophon .container {
	padding-top: 30px;
  padding-bottom: 30px;
  background-color: transparent;
}
.footer-logo {
  max-width: 195px;
  display: inline-block;
}
.region-colophon a,
.region-colophon a:link {
  color: #fff;
}
/* =============================================================================
   =Non-semantic helper classes
   ========================================================================== */
/* For image replacement */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
.ir br {
  display: none;
}
/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden;
}
/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible { visibility: hidden; }

.cf:before, .cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.align-left {
  float: left;
  margin: 0 0.5em 0.8em 0;
}
.align-right {
  float: left;
  margin: 0 0 0.8em 0.5em;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}

#outerContainer { width:542px; height:202px; margin:auto; position:relative; }
#controls { width:534px; height:47px; background:url(images/controlsBG.png) no-repeat; position:absolute; top:4px; left:4px; z-index:10;	}
#controls a { width:37px; height:35px; position:absolute; top:3px; }
#controls a:active, #controls a:visited { color:#0d0d0d; }
#title { color:#ffffff;  font-size:100%; font-weight:bold; width:100%; text-align:center; margin-top:10px; }
#rtl { background:url(images/rtl.png) no-repeat; left:100px; }
#rtl:hover { background:url(images/rtl_over.png) no-repeat; left:99px; }
#ltr { background:url(images/ltr.png) no-repeat; right:100px; }
#ltr:hover { background:url(images/ltr_over.png) no-repeat; }

#headerBtnLeft {
	position:absolute;
	left:187px;
	bottom:28px;
	width:230px;
	height:40px;
	cursor:pointer;
}
#headerBtnRight {
	position:absolute;
	left:460px;
	bottom:28px;
	width:230px;
	height:40px;
	cursor:pointer;
}
#mrMegaBannerTop {
	position:relative;
	width:1142px;
	height:416px;
	margin-left:auto;
	margin-right:auto;
}
#tblOuterContent {
	margin-top:10px;
	z-index:1000;
}

/* NeoGames special */

.PageBody {
  background-attachment:inherit !important;
}
.ContactUsPageLeftContentTableCell,
.StandardContentPlayNowCell,
.ContactUsPageRightContentTableCell,
.StandardPageContentTable {
	background-color:transparent !important;
}
table#tblOuterContent {
}
.HelpGameGenericButtonsTable,
.HelpGameGenericButtonsTable td,
.ContactUsPageFormPanelTable,
.InviteFriendInnerTable,
.InviteFriendInnerTable td,
.HelpCashOutTimeTable,
.HelpCashOutTimeTable td,
.ContentInnerTable,
.ContentInnerTable td {
	border:0px;
}

.StandardPageLeftSectionContentTopBorderCell {
	background-position:bottom left;
}

/* New games */
.newGame {
	position: absolute;
	padding: 8px;
	right: 14px;
  top: 0;
	z-index: 5;
  color: #fff;
  font-weight: 800px;
  font-size: 15px;
  background-color: #f92736;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  font-size: 15px;
  font-weight: 800;
}

#ctl00_noSciptTag {
	display: none;
}
/* Sub pages */
.BDMainView {
  margin-bottom: 15px;
  margin-top: 15px !important;
  max-width: 100% !important;
  min-width: 100% !important;
  width: 100% !important;
}
.td_center,
.SpilTable tbody {
  border-top: 0 none !important;
}
div#lga_logo {
  background-color: #ffffff;
  border: 1px solid #ff0000;
  height: 37px;
  overflow: hidden !important;
  position: absolute;
  right: 140px;
  top: 18px;
  width: 67px;
  z-index: 100;
  opacity: 0;
}
#map-links {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position: absolute;
/*	top: 18px;
	left: 120px;*/
	height: 37px;
	width: 570px;
  top: 9px !important;
  left: 50% !important;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
#map-links span,
#map-links a {
	float: left; 
	display: inline-block;
	height: 100%; 
	content: "";
}

/*
 * Adds an h1 style to the normal headline h3
 */

h3.gameHeadline {
  display: block;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
  font-size: 36px;
  text-shadow: none;
}

/*
 * Content block
 */
.clear {
  clear: both;
}
#page-wrapper {
	width: 100%;
	overflow: hidden;
}
clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
div.field-name-field-top-image {
  padding-bottom: 30px;
}

/******************** GRID CLASSES ********************/
.unit {
  width: 100%;
  padding: 0 7px;
/*  margin-bottom: 10px;*/
 }
.one-quarter { 
  width: 50%; 
  float: left;    
}
.grid {
  margin: 0 -7px 0;
} 

@media (min-width: 737px) {
  .grid {
    margin: 0 -15px 0;
  }
  .grid:after {
    clear: both;
    content: " ";
    display: table;
  }
  .unit {
    float: left;
    padding: 0 15px;
  }
  .whole { width: 100%; }
  .half { width: 50%; }
  .one-third { width: 33.3332%; }
  .two-thirds { width: 66.6665%; }
  .one-quarter { width: 25%; }
  .three-quarters { width: 75%; }
  .one-fifth { width: 20%; }
  .two-fifths { width: 40%; }
  .one-sixth { width: 16.6666%; }
  .three-fifths { width: 60%; }
  .four-fifths { width: 80%; }
  .golden-small { width: 38.2716%; } 
  .golden-large { width: 61.7283%; } 
}

.mobile-menu-icon {
  display: none;
}
.mob-hd {
  display: inline;
}
.desktop,
.mob-show {
  display: none;
}
.mobile {
  display: inline-block;
}


.show {
  visibility: visible !important;
  display: block !important;
}
.hide {
  visibility: hidden !important;
  display: none !important;
}
/******************** External pages *************************/
.PageBody #main{
  padding-bottom: 0;
}
.PageBody form {
  margin-bottom: 0;
}

@media screen and (max-width: 736px) {
  .mobile-menu-icon {
    display: inline-block;
    float: left;
    width: 25px;
    height: 18px;
    margin-right: 5px;
    margin-left: -4px;
    margin-top: 4px;
    font-size: 12px;
    color: #fff;
    background: transparent url('../img/sprite.png') no-repeat scroll 0px -635px;
    background-size: 24px auto;
  }
  .open-icon {
    background-position: 0px -654px;
  }
  a#logo {
    max-width: 138px;
    margin-top: 0;
    padding-top: 2px;
  }
  .footer-logo {
    max-width: 160px;
  }
  .mob-hd {
    display: block;
    padding: 14px;
    background-color: #3e3e3e;
    margin: 0 -13px 14px;
  }
  .top-header-items {
    margin: 14px 0;
    float: none;
  }
  .mobile,
  .desktop-show {
    display: none;
  }
  .desktop,
  .mob-show {
    display: inline-block;
  }
  #block-menu-menu-top-menu-mr-mega {
    position: relative;
    margin: -14px;
  }
  #header {
    z-index: 200;
  }
  #access .menu {
    position: absolute;
    width: 100%;
    z-index: 120;
    font-size: 28px;
    font-weight: 500;
    padding: 20px 25px;
    text-transform: uppercase;
    border-top: 1px solid #505050;
    background-color: rgba(62, 62, 62, 0.95);
    display: none;
    margin-bottom: 0;
    min-height: 1000px;
  }
  #access .menu.open {
    display: block;
  }
  #access .menu a {
    color: #fff;
  }
  #access .menu a:hover {
    text-decoration: none;
    color: #b70b10;
  }
  #access .menu > li.active a {
    color: #b70b10;
  }
  #access .menu li.last {
    position: absolute;
    right:  10px;
    top: -52px;
  }
  a.open-account {
    float: right;
    display: inline-block;
    padding: 4px 8px;
    font-weight: 800;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    background-color: #b70b10;
    color: #fff !important;
    font-size: 11px;
    margin-top: 3px;
    text-transform: uppercase;
  }
  a.open-account:hover {
    background-color: #ff7200;
  }
  a.open-account:link {
    color: #fff !important;
  }
  a.open-account:hover {
    text-decoration: none;
  } 
  #access .menu > li.last > a:hover,
  #access .menu > li.last > a:active,
  #access .menu > li.last > a:focus,
  #access .menu > li.last.active > a {
    color: #fff;
  }
  #footer .region-footer .block-block > .content,
  .region-menus-bottom > .block > .content,
  .container {
    padding: 0 13px;
  }
  #main {
    padding-top: 0;
  }

  
  /*
   * Slider
   */
  #block-views-top-slider-block-2 {
    padding-top: 14px;
  }
  .view-top-slider {
    height: auto;
  }
  .view-top-slider img,
  .view-top-slider li,
  .view-top-slider ul {
    width: 100%;
  }
  .view-top-slider h2,
  .view-top-slider .sub-title {
    left: 19px;
    top: 8px;
    font-size: 15px;
  }
  #page-wrapper .view-top-slider h2 {
    color: #ffffff;
    font-size: 18px;
    line-height: 1;
    top: 26px;
  }
  .view-top-slider {
    margin-bottom: 15px;
  }
  .popular-list-wrap {
    padding-bottom: 40px;
    text-align: center;
  }
  #block-mrmegamod-memega-popular-game-list {
    display: inline-block;
  }
  .slider-controls-sl i,
  .slider-controls i {
    margin: -16px 0 0 -16px;
    height: 24px;
  }
  .slider-controls-sl i {
    width: 32px;
    height: 32px;
    border: 4px solid #fed844;
  }
  .slider-controls i {
    margin-top: 0;
    bottom: 15px;
    top: auto;
  }
  .slider-controls-sl i.fa-chevron-right {
    margin-right: -16px;
  }
  .slider-controls i {
    margin-left: 0;
  }
  .slider-controls i.fa-chevron-right {
    margin-right: 0;
  }
  .slider-controls-sl i.fa-chevron-right,
  .slider-controls-sl i.fa-chevron-left {
    background: #b70b10 url('../img/sprite.png') no-repeat scroll 8px -264px;
    background-size: 14px auto;
  }
  .pager-cy {
    display: inline-block;
    width: 90%;
    bottom: 20px;
  }
  .pager-cy-sl {
    left: 14px;
    bottom: 10px;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  .pager-cy-sl span,
  .pager-cy span {
    width: 14px;
    height: 14px;
    margin: 0 4px;
  }
  .pager-cy span {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .pager-cy-sl span {
    width: 12px;
    height: 12px;
    margin: 0 4px;
  }
  .fa-1-5 {
    font-size: 24px;
  }

  .more-link-slider a {
    padding: 0 38px 0 10px;
    height: 26px;
    line-height: 26px;
    position: absolute;
    right: 14px;
    bottom: 20px;
    font-size: 11px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    text-transform: uppercase;
  }
  .more-link-slider a::after {
    height: 26px;
    width: 30px;
    background: #a40a0e url('../img/sprite.png') no-repeat scroll 7px -293px;
    background-size: 14px auto; 
  }

  /*
  * Jackpot
  */
  .jackpot {
    margin-bottom: 14px;
  }
  .jackpot-right {
    right: 5px;     
  }
  .jackpot .amount {
    font-size: 15px;
    line-height: 1;
    min-width: 113px;
  }
  .i18n-no .amount,
  .i18n-sv .amount {
     min-width: 115px;
     right: -8px;
  }
  .jackpot .amount:after {
    font-size: 14px;
    line-height: 1;
    margin:  0 10px 0 4px;
  }
  .jackpot .more-link {
    display: none;
  }
  #games ul#gameList,
  .frame-inner {
    margin: 0 -7px;
    text-align: center;
  }
  #games #popularList li,
  #games #gameList li {
    width: 50%;
    padding: 0 7px;
    text-align: center;
    text-align: left;
  }
  #games #popularList li .box,
  #games #gameList li .box,
  #page-wrapper .box {
    margin-bottom: 15px;
    min-height: 200px;
    max-width: 210px;
    width: 100%;
    height: auto;
  }
  #games .box-title {
    font-size: 16px;
   }
  .newGame {
    font-size: 13px;
    padding: 4px 6px;
  }
  #page-wrapper .box.on-road {
    max-width: 450px;
  }
  .road-wrap {
    left: 14px;
    position: absolute;
    top: 10px;
    text-align: left;
  }
  #main .on-road h2 {
    font-size: 24px;
    line-height: 1.1;
    margin-bottom: 0;
  }
  .road-text {
    font-weight: 500;
    width: 100%;
    max-width: 100%
  } 
  .box .more-link {
    bottom: 10px;
    position: absolute;
    right: 10px;
  }
  .try-game,
  .more-link {
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    padding: 0 7px;
  }
  #games .try-game {
    line-height: 18px;
  }
  .front-bottom-boxes {
    text-align: center;
  }
  /* = Front boxes = */
  #winners {
    text-align: left;
    max-width: 210px;
    width: 100%;
    margin-bottom: 14px;
  }
  #winners h3.box-title {
    font-size: 22px;
    margin: 13px 0;
    padding: 0 14px;
    line-height: 1;
  }
  #winners .box-title em {
    font-size: 17px;
  }
  #winners-list > li {
    line-height: 1.1;
    height: 70px;
  }
  #winners-list li div {
    padding: 3px 14px;
  }
  #winners-list .how-much {
    font-size: 17px;
  }
  #games-filter > .nav {
    margin-left: -7px;
    margin-right: -7px;
  }
  #games-filter > .nav > li {
    width: 50%;
    padding-left: 7px;
    padding-right: 7px;
    margin: 0 0 10px;
    text-align: center;
  }
  p {
    margin-bottom: 15px;
  }
  #footer .region-footer .block-block,
  #footer .menu-bottom-wrapper .block-block {
    padding: 20px 0 5px;
  }
  #footer .menu {
    padding: 20px 0;
    margin: 0;
    display: block;
    overflow: hidden;
  }
  #footer .menu li {
    display: inline-block;
    float: left;
    margin: 0 35px 10px 0;
  }
   #payment-icons .container {
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
  }
  #map-links {
    top: -7px !important;
    max-width: 570px;
    width: 100% !important;
  }
  #footer > .container {
    padding-top: 20px;
  }
  #left2bd,
  #right1bd,
  #right2bd,
  #left1bd {
    width: 50% !important;
  }
  #colophon {
    padding-top: 20px;
  }
  #colophon .container {
    padding: 20px 13px;
  }
  .contact-info ul li:first-child {
    display: none;
  } 
  .contact-info ul li.last {
    margin-right: 8px;
  }
  .contact-info ul li.last a {
    color: rgba(0, 0, 0, 0);
    display: inline-block;
    width: 23px;
    height: 23px;
    overflow: hidden;
  }
  .phone-wrap {
    margin-right: 5px;
  }
  .phone-wrap i,
  .contact-info ul li a:before {
    top: 0;
  }
  .language-block {
    display: inline-block;
    float: right;
    margin-left: 0;
  }
  .SpilTable table {
    width: 100%;
  }
  .BDFooterView img,
  .SpilTable table img {
    width: auto !important;
    height: auto !important;
  }
  .BDFooterView img {
    margin-bottom: 10px;
    max-width: 100px;
  }
  .BDFooterView a:last-child img {
     max-width: 185px;
  }
  .SpilTable table,
  .SpilTable tbody,
  .SpilTable thead,
  .SpilTable tr,
  .SpilTable th,
  .SpilTable td {
    display: block;
  }
  .BDFooterView,
  .SpilTable th,
  .SpilTable td {
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
  }
  .node-subpage .field-name-body {
    overflow: hidden;
  }
  .node-subpage a img {
    float: none !important;
    margin-bottom: 10px;      
  }
  .node-subpage img[usemap^="#"] {
    max-width: none;
    margin-left: -480px;
  }
  .image-column,
  .text-column {
    float: none !important;
    height: auto !important;
    margin-bottom: 10px!important;
    max-height: none !important;
    padding-left: 0 !important;
    width: 100% !important;
  }
  img {
    height: auto !important;
  }
  h1 {
    font-size: 30px !important
  }
  #colophon + div + div + div,
  #colophon + div + div,
  #colophon + div {
    display: none !important;
  }
  .region-colophon {
    word-break: break-all;
  }
  
}
@media screen and (max-width: 460px) {
  #games #popularList li .box,
  #games #gameList li .box,
  #page-wrapper .box {
    min-width: 100%;
  }
}
@media screen and (max-width: 400px) {
  #games #popularList li .box,
  #games #gameList li .box,
  #page-wrapper .box:not(.on-road):not(#winners) {
    min-height: 180px;
    height: 180px;
  }
  .box-image {
    height: 95px;
  }
 .box-bottom {
   min-height: 85px;
   padding: 5px 10px 5px;
  }
  .box-image img {
    min-height: 95px;
  }
  #main .box.pl-now h3,
  #main .box.help h3 {
    font-size: 17px;
  }
  #games .box-title {
    font-size: 14px;
  }
  #games .try-game {
    bottom: 9px;
    left: 10px;
    font-size: 11px;
    padding: 0 5px;
  }
  #games .more-link {
    bottom: 9px;
/*    right: 10px;*/
    left: 10px;
    right: auto;
    font-size: 10px;
    padding: 0 4px;
    height: 22px;
    line-height: 22px;
  }
  .more-link-slider a {
    padding: 0 38px 0 10px;
    height: 22px;
    line-height: 22px;
    bottom: 15px;
   }
  .more-link-slider a::after {
    height: 22px;
    width: 30px;
    background: #a40a0e url('../img/sprite.png') no-repeat scroll 7px -295px;
    background-size: 14px auto;
  }
  .extra-link-wrapper a {
    height: 20px;
  }
}
@media screen and (min-width: 340px)  and (max-width: 736px) {
  .road-text {
    max-width: 70%
  }
}
@media screen and (max-width: 340px) {
  #games .try-game {
    left: 5px;
  }
  #games .more-link {
/*    right: 5px;*/
    right: auto;
    left: 5px;
  }
}
@media screen and (max-width: 375px) {
  .contact-info ul li.last {
    margin-right: 0px;
  }
  .language-block {
    margin-right: -6px;
  }
  .contact-info ul {
    margin-left: -5px;
  }
  .phone-wrap, .contact-info ul li a {
    padding-left: 28px;
  }
  #nav-lang li {
    margin-left: 3px;
  }
}